.login {
  width: 100%;
  height: 100%;
}
.login .header {
  height: 80px;
  background-color: bisque;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
}
.formWraper {
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding:20px;
}

.form{
  margin-top:20px;
  border: none;
}
